html, head, body { height: 100%; font-size: 100%; }

.texttime_header {
z-index: 60;
background: #FEA45A;
color: #FFFFFF;
width: 100%;
height: 7%;
}

.texttime_header a {
color: #FFFFFF !important;
font-size: 13px;
font-weight: 300;
}

.texttime_logo {
float: left;
height: 100%;
}

.logo {
width: 100px;
padding-top: 10%;
padding-left: 10%;
}

.texttime_menu {
float: right;
height: 100%;
}

.texttime_menu_table {
height: 100%;
}

.t_menu {
width: auto;
color: #FFFFFF;
text-align: center;
}

.couponSubmit:hover {
	background: #FFFFFF;
	color: #999;
}

.couponExtraService {
	display: none;
}

.wrapper { width:1024px;height:auto;margin:50px auto;background:#FCF7F0;border:1px solid #98897F;text-align:center;padding:40px 0px; }
.couponPageTitle { margin:0px auto;margin-bottom:30px;font-size:1.2rem; }
.couponBack { background:#FEA45A;font-size:0.9rem;width:125px;height:35px;color:#FFF;position: absolute;margin-top: -59px;margin-left: 220px;cursor:pointer; }
.couponCount { background:#FFF;border:2px solid #FEA45A;font-size:0.9rem;width:125px;height:35px;color:#FEA45A;position: absolute;margin-top: -59px;margin-left: -342px;cursor:pointer; }

.couponBox { width:700px;height:auto;margin:0px auto;background:#FFF;border:1px solid #999999;padding-bottom:20px;font-size:0.9rem; }
.couponBox ul { cursor: pointer !important;list-style:none;margin:0px auto;padding:0px;width:100%;margin-bottom:25px; }
.couponBox .menuCouponPayment { cursor: pointer !important;display:inline-block;width:49%;padding:20px 0px;font-size:1.4rem;border-bottom:3px solid #FEA45A;color:#FEA45A; }
.couponBox .menuCouponExtraService { cursor: pointer !important;display:inline-block;width:49%;padding:20px 0px;font-size:1.4rem;border-bottom:3px solid #999999;color:#999999; }

.couponPayment { width:650px;height:155px;margin:0px auto;background:#FFF;border:1px solid #999999;margin-bottom:20px; }
.couponExtraService { width:650px;height:155px;margin:0px auto;background:#FFF;border:1px solid #999999;margin-bottom:20px; }
.couponTitle { width:35%;height:143px;background:#FEA45A;float:left;text-align:center;vertical-align:middle;line-height:1.4rem;color:#FFF;font-weight:bold;padding-top:12px; }

.couponContent { width:65%;height:100%;background:#FFFFFF;float:right;text-align:left; }
.couponTitle pre { margin: 0px auto; }
.couponItem { font-size:1.5rem;font-weight:bold;margin:10px 0px 0px 0px; }
.couponContent_p { font-size:0.85rem;line-height:1.3rem;padding: 0px 0px 0px 12px; }
.couponContent_b { padding-left:12px;font-size:0.8rem;font-weight:bold; }
.couponContent_hr { height:1px;border: none;background: #333; }
.couponContent_p_ { padding:0px 10px 0px 12px;font-size:0.8rem; }
.couponSubmit { width:120px;height:30px;border-radius:5px;font-weight:bold;font-size:0.9rem;margin:0px;padding:0px;margin-top:20px; }
.True { color:#FEA45A;background:#FFFFFF; }
.False { color:#FFFFFF;background:#999999; }
